.wrapper{
    margin: 0 auto;
    box-sizing: border-box;

    width: 1000px;
}
h1{
    border-bottom: 1px dotted black;
<<<<<<< HEAD
    color: green;
}
.mem_container{
    cursor: pointer;
    border: 1px dotted black;
    padding: 20px;
=======
}
.mem_container{

    cursor: pointer;

>>>>>>> 9c5f57769dc00b898c7c7101e4b7d33dc89540d1
}
.visible_name{

    display: flex;

    justify-content: space-between;

    overflow: hidden;

}
.img_container{
<<<<<<< HEAD
=======
    display: block;
>>>>>>> 9c5f57769dc00b898c7c7101e4b7d33dc89540d1

    margin: 0 auto;

    width: 600px;
    height: 0px;

<<<<<<< HEAD
    transition: 0.5s;
=======
    transition: 1s;
>>>>>>> 9c5f57769dc00b898c7c7101e4b7d33dc89540d1

}
.druzhko{
    background-image: url("assets/imgonline-com-ua-Resize-cn6h4tEaRXM.jpg");
    background-repeat: no-repeat;
}
.dratuiti{
    background-image: url("assets/imgonline-com-ua-Resize-psRZi5eY4m.jpg");
    background-repeat: no-repeat;
}
.jony{
    background-image: url("assets/imgonline-com-ua-Resize-jTLAS6br3uHZ80.jpg");
    background-repeat: no-repeat;
}
.mem_container:hover .img_container{
<<<<<<< HEAD
=======
    display: block;
>>>>>>> 9c5f57769dc00b898c7c7101e4b7d33dc89540d1
    height: 400px;

}
.mem_container:focus .img_container{
    height: 400px;
}




